{% extends "base.html" %}
{% load static %}

{% block contents %}

<div class="container">

  <audio id="audioPlayer" controls>
    <source src="{{object.file.url}}" type="audio/mp3">
    Your browser does not support the audio tag.
  </audio>

  <div id="markerDisplay">
    まだマーカーはありません
  </div>
  <ul id="textList">
  </ul>
</div>


<script>

  // マーカーリスト(JSON)を受け取る
  var markerList = {{ object.marker_of_midi|safe }};
  
  // JSONデータの内容を表示する
  var textList = document.getElementById('textList');
  for (var i = 0; i < markerList.length; i++) {
    var time = markerList[i].time;
    var marker = markerList[i].marker;

    var innerList = document.createElement('li');
    innerList.textContent = marker;
    innerList.setAttribute('data-position', time)
    textList.appendChild(innerList);
  }


  const audio = document.getElementById("audioPlayer");

  // 再生位置によって対応するマーカーを表示
  function updateTextDisplay(currentTime) {
    const markerDisplay = document.getElementById("markerDisplay");
    
    // リストをイテレート
    for (let i = 0; i < markerList.length; i++) {
      const markerTime = markerList[i].time - 3.176;
      const nextMarkerTime = i < markerList.length - 1 ? markerList[i + 1].time - 3.176: Infinity;
  
      if (currentTime >= markerTime && currentTime < nextMarkerTime) {
        // currentTimeが現在のマーカーと次のマーカーの間にある場合
        console.log(markerList[i].marker);
        markerDisplay.innerHTML = markerList[i].marker;
        return; // マッチしたら終了
      }
    }
  
    // マーカーがない場合
    markerDisplay.innerHTML = "まだマーカーはありません";
  }

  // 再生時間が更新するたびに確認
  audio.addEventListener("timeupdate", function() {
    const currentTime = audio.currentTime;
    updateTextDisplay(currentTime);
  });


  function playFromPosition(position, offset = 0) {
    audio.currentTime = position - offset;
    // audio.play();
  }

  // テキストがクリックされたときに対応する位置から再生
  textList.addEventListener("click", function(event) {
    if (event.target.tagName === "LI") {
      var position = event.target.dataset.position;
      // position = position - 3.176;
      var offset = 3.176
      playFromPosition(position,offset);
    }
  });
  

</script>

{% comment %} <script src="{% static "js/audio.js" %}"></script> {% endcomment %}

{% endblock %}