{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  {% comment %} {% block title %}{% endblock title %} {% endcomment %}
  ナイスフィードバック
  </title>
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="{% static "css/custom.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/a11y-dark.min.css">
  <script src="{% static 'js/ajax.js' %}"></script> 

</head>
<body>
  <div class="background"></div>
  
  <nav class="navbar navbar-expand-lg bg-light shadow-sm mb-3">
    <div class="container">
      <a class="navbar-brand" href="{% url "project:index" %}">
        <i class="bi bi-hand-thumbs-up"></i>ナイスフィードバック
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link {% if myproject %}active{% endif %}" aria-current="page" href="{% url "project:index" %}">プロジェクト</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if mypage %}active{% endif %}" href="{% url "account:mypage" request.user.pk %}">マイページ</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ユーザー設定
            </a>


            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">アカウント情報</a></li>
              <li><a class="dropdown-item" href="{% url "account:create_feedback_rule" %}">プロフィールの編集</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url "account:logout" %}">ログアウト</a></li>
            </ul>
          </li>

          {% else %}
          <li class="nav-item"><a class="nav-link active" href="{% url "account:login" %}">ログイン</a></li>
          <li class="nav-item"><a class="nav-link active" href="{% url "account:signup" %}">新規登録</a></li>

          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block contents %}{% endblock %}


<div class="container">

  <footer class="d-flex flex-wrap align-items-center py-3 pb-4 mt-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 omoteaki, Nice Feedback</span>
    </div>
  </footer>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}


</body>
</html>