{% extends "base.html" %}
{% load widget_tweaks %}

{% block contents %}

<div class="container">

  <form action="" method="post">
  {% csrf_token %}

  {% for field in form %}

    {% if field == form.deadline_datetime %}
    <div class="mb-3 row">
      <label class="form-label" for="">締め切り日時</label>
      <div class="col">
        
        <input type="date" name="deadline_datetime_0" class="form-control" required="" id="id_deadline_datetime_0">
      </div>
      <div class="col">
        <input type="time" name="deadline_datetime_1" class="form-control" required="" id="id_deadline_datetime_1">
      </div>
      
      
    
      {% for error in field.errors %}
      <p>{{error}}</p>
      {% endfor %}
    </div>
    
    
    {% else %}

    <div class="mb-3">
      <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
      {% render_field field class="form-control" %}
      {% for error in field.errors %}
      <p>{{error}}</p>
      {% endfor %}
    </div>



    {% endif %}


  {% endfor %}
  
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div>
  
    <button type="submit" class="btn btn-primary">作成する</button>
  </form>


</div>

{% endblock %}