
<div class="container">
  <div class="card py-3 px-3 pb-2">

    <h4 class="border-bottom">より良いクリエイティブな活動のために</h4>
    <p>創作活動において、仕事相手や仲間とのコミュニケーションで<br>
    <p>こうしたいイメージはあるのに、うまく伝わらない、伝わっていない、という経験はありませんか？</p>
    <p>また、フィードバックはあるけど、どういうことか掴みにくい。。。という経験はありませんか？</p>
    <br>
    <p><strong>ナイスフィードバック</strong>では、そんな悩みを抱えている制作者の皆様のお手伝いを目指しています！</p>
    <p>より良いクリエイティブな活動の為に、ぜひご活用ください！</p>
  
    <p><a href="{% url "project:about_us" %}">もっと詳しく知りたい方はこちら</a></p>
    <p><a href="{% url "account:signup" %}">ユーザー登録はこちら</a></p>
  </div>




  
</div>
