<div class="container my-6">

  <h5>
    {{request.user}}さんのプロフィール
  </h5>
  <p>
    <a href="">
      フィードバックルールの編集
    </a>
  </p>

  
  {% if details %}
  {% for detail in details %}
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-text">{{detail.profile}}</p>
      <p class="card-text">{{detail.rule}}</p>
      {% comment %} <p class="card-text">{{record.about}}</p> {% endcomment %}
      <p class="card-text"><small class="text-body-secondary">連絡の取りやすい時間帯 : {{detail.convenient_time_from}}~{{detail.convenient_time_to}}</small></p>

    </div>
    
  </div>

  {% endfor %}


  {% else %}

  <p>まだ{{request.user}}さんのお仕事プロフィールが登録されていません。</p>
  <p>
    <a href="{% url "account:create_feedback_rule" %}">
      お仕事プロフィールの登録はこちら
    </a>
  </p>

  {% endif %}


  <p>
  {{request.user}}さんが携わっているプロジェクト一覧
  </p>


  <div class="list-group">
  {% for record in object_list %}

    <a href="{% url "project:project_detail" record.pk %}" class="list-group-item list-group-item-action">{{record}}<small class="text-body-secondary">{{record.deadline_datetime}}</small></a>


    
  {% endfor %}
  </div>


  <a class="btn btn-primary mt-3" href="{% url "project:create_project" %}" role="button">＋新規プロジェクトの作成</a>

</div>


