<div class="container">

  <div class="d-flex border-bottom mb-2">
    <h5 class="mb-1">
      {{request.user}}さんの管理ページ
    </h5>
    <a href="{% url "account:mypage" request.user.pk %}" class="ms-3">プロフィールの確認・編集</a>
  </div>

  {% comment %} <div class="alert alert-info mb-2" role="alert">
    新着フィードバックが件あります。<a href="" class="alert-link">確認する</a>
  </div> {% endcomment %}

  {% if ordered_project_list %}
  <div class="">
    <div class="alert alert-warning mb-2" role="alert">
      お仕事の依頼が届いています！
    </div>
    <ul>
      {% for ordered_project in ordered_project_list %}
      <li>
        <a href="{% url "project:propose_project" ordered_project.pk %}">{{ordered_project}}</a>
      </li>
      {% endfor %}
    </ul>
    <p></p>
  </div>
  
  {% endif %}


  {% if near_deadline_objects %}
  <!-- 締め切りが近いプロジェクトの一覧 -->
  <div class="mb-1">
    <div class="alert alert-danger mb-2" role="alert">
      納期が近いプロジェクト
    </div>

    <div class="row">
    {% for n_o in near_deadline_objects %}
      <div class="col-sm-6 mb-3 mb-sm-3">
        <a href="{% url "project:project_detail" n_o.pk %}" class="card h-100 text-decoration-none">
          <div  class="card-body py-2 ">
            {% if n_o.orderer_user == request.user %}
            <small class="text-body-secondary">{{n_o.contractor_user}}さんに発注中</small>
            {% else %}
            <small class="text-body-secondary">{{n_o.orderer_user}}さんから受注中</small>
            
            {% endif %}
            
            <h6 class="card-title mb-1">{{n_o.title}}</h6>
            <small class="text-body-secondary">{{n_o.deadline_datetime}}</small>
          </div>
        </a>
      </div>
    {% endfor %}

    </div>

  </div>

  {% endif %}



  <!-- 現在進行中のプロジェクト -->

  {% if object_list %}
  <div class="card mb-4">
    <div class="card-header">現在進行中のプロジェクト</div>

    <div class="list-group list-group-flush">
      {% for record in object_list %}
      <a href="{% url "project:project_detail" record.pk %}" class="list-group-item list-group-item-action d-flex">
        <div>
          {{record}}
        </div>
        <small class="ms-auto text-body-secondary">{{record.deadline_datetime}}</small>
        <span class="ms-3 badge {% if record.int_delta < 4 %}text-bg-danger {% elif record.int_delta < 8 %} text-bg-warning {% else %} text-bg-success {% endif %}">あと{{record.int_delta}}日</span></a>
      
      {% endfor %}
    </div>
    
  </div>
  {% else %}
  <p>現在進行中のプロジェクトはありません。</p>
  {% endif %}


  <!-- 終了したプロジェクト -->

  {% if closed_project %}
  <div class="card mb-4">
    <div class="card-header">終了したプロジェクト</div>

    <div class="list-group list-group-flush">
      {% for record in closed_project %}
      <a href="{% url "project:project_detail" record.pk %}" class="list-group-item list-group-item-action d-flex">
        <div>
          {{record}}
        </div>
        <small class="ms-auto text-body-secondary">{{record.deadline_datetime}}</small>
        </a>
      
      {% endfor %}
    </div>
    
  </div>
  {% endif %}




  <div class="row">
    <div class="col-sm">
      <a class="btn btn-primary shadow-sm mb-3" href="{% url "project:create_project" %}" role="button">プロジェクトを作成して仕事を依頼する</a>
      
    </div>

  </div>
</div>

{% comment %}     
    <div class="col-sm">
      <a href="" class="btn btn-secondary shadow-sm mb-3">フィードバックルールを設定して、仕事を受ける</a>
      
  {% if details %}
  {% for detail in details %}
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-text">{{detail.profile}}</p>
      <p class="card-text">{{detail.rule}}</p>
      <p class="card-text"><small class="text-body-secondary">連絡の取りやすい時間帯 : {{detail.convenient_time_from}}~{{detail.convenient_time_to}}</small></p>

    </div>
    
  </div>

  {% endfor %}


  {% else %}

  <p>まだ{{request.user}}さんのお仕事プロフィールが登録されていません。</p>
  <p>
    <a href="{% url "account:create_feedback_rule" %}">
      お仕事プロフィールの登録はこちら
    </a>
  </p>

  {% endif %}

    </div>
  </div>


{% endcomment %}



