{% extends "base.html" %}

{% block contents %}


<p>プロジェクト名：{{project.title}}</p>
<p>発注内容：{{project.about}}</p>

<p>発注者：{{project.orderer_user}}</p>
<p></p>
<p>受注者：{{project.contractor_user}}</p>


<a href="{% url "project:add_task" project.id %}">タスクを追加する</a>

<ul>
  {% for task in tasks %}
  <li><a href="{% url "project:task_detail" task.pk %}">{{task}}</a></li>
  <p>{{task.content}}</p>
    <ul>
    {% for feedback in feedbacks %}
      {% if feedback.task.id == task.id %}
        {% if feedback.self == null %}
        <li>{{feedback.comment}}<a href="{% url "feedback:reply" task.pk project.pk feedback.pk %}">返信する{{feedback.pk}}</a></li>


        {% else %}
        <ul>

        
        <li>{{feedback.self.id}}{{feedback.comment}}<a href="{% url "feedback:reply" task.pk project.pk feedback.pk %}">返信する{{feedback.pk}}</a></li>
        
        </ul>




        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  
  {% endfor %}
</ul>

<ul class="list-group">
  {% for task in tasks %}

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Content for list item
    </div>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>

</ul>

<p>このプロジェクトに関連するToDoリスト</p>
<ul>
  {% for todo in todo_list %}
  <li>{{todo}}<a href="{% url "project:todo_checked" todo.pk project.pk %}">完了</a> <a href="{% url "project:todo_delete" todo.pk %}">削除する</a>
  {% if todo.is_done %}
終わってます{% endif %}</li>
  {% endfor %}
</ul>

{% endblock %}
