{% extends "base.html" %}
{% load widget_tweaks %}

{% block contents %}

<div class="container">

  <div class="d-flex border-bottom mb-2">
    <h5 class="mb-1 ps-3">
      フィードバックルールの設定
    </h5>
  </div>

  <div class="ps-3">
    <p>まだプロジェクトは開始していません。<br>
      フィードバックルールを設定して、プロジェクトを始めましょう！
    </p>
  </div>


  <div class="ps-3">

  {% if user_detail_list %}
    <form action="" method="post">
      {% csrf_token %}

      <label for="id_feedback_rule" class="form-label">フィードバック</label>
      {% render_field form.feedback_rule class="form-control" %}

      <button type="submit" class="btn btn-primary mt-3">プロジェクトを開始</button>
    </form>

    <div id="selectedContent">
    {% comment %} <div class="testclass"></div>
    <div class="testclass"></div> {% endcomment %}
      <!-- 選択された内容が表示される部分 -->
    </div>
  {% else %}
    <p>{{request.user}}さんはまだフィードバックルールのテンプレートが設定されていません。サンプルを参考にフィードバックルールを設定してください。<small>(一度テンプレートを保存すると他のプロジェクトでも使うことができます)</small></p>
  
    <a href="{% url "account:create_feedback_rule" %}">フィードバックルールを設定する</a>
    <a href="{% url "project:project_detail" object.pk %}">設定をスキップしてプロジェクトを開始する</a>
  {% endif %}
  </div>


</div>


<script>
  // セレクトボックスで選択された内容を表示する関数
  function displaySelected() {
    // 選択されたオプションの値を取得
    var selectedOption = $('#id_feedback_rule').val();


    // 選択された内容を表示する部分にセット
    $('.testclass').html('<strong>選択された内容:</strong> <span style="color: red;">' + selectedOption + '</span>');
  }
</script>


{% endblock %}