{% extends "base.html" %}

{% block contents %}


<div class="container">

  <div class="card py-2 px-3 bg-light">

    <a href="{% url "project:project_detail" project.pk %}">プロジェクト：{{project}}</a>
    {{object_list.project}}
    <h5>タスク一覧</h5>

    <ul>
      {% for record in object_list %}
      <li>
        <a href="{% url "project:task_detail" record.pk %}">
          {{record}}
        </a>

      </li>
      {% endfor %}
    </ul>

  </div>

</div>

{% endblock %}