{% extends "base.html" %}

{% block contents %}

<div class="container">

  <div class="card py-2 px-3 bg-white">

    <a href="{% url "project:project_detail" object.project.id %}">プロジェクト：{{object.project}}</a>

    <div class="border-bottom d-flex justify-content-between mb-2">
      <h5 class="mb-0" >タスク : {{object.title}}</h5>
    {% if request.user == object.project.orderer_user %}
      <a href="{% url "project:task_edit" object.pk %}" class="fs-6 fw-normal"><i class="bi bi-pencil"></i>編集する</a>
    {% endif %}
    </div>

    <p>{{object.content}}</p>
    
    <small>締め切り：{{object.deadline_datetime}}</small>
    <small>作成日時：{{object.added_at}}</small>
    <small>更新日時：{{object.updated_at}}</small>

    <div class="my-2">
      <a href="{% url "feedback:feedback_add" object.pk %}" >フィードバックを送る</a>
    </div>

    {% if feedbacks %}
    <ul>
      {% for feedback in feedbacks %}
      <li>{{feedback.comment}} <span>{{feedback.user}}</span> </li>
      {% endfor %}
    </ul>
    {% endif %}
    
    
    {% if request.user == object.project.contractor_user %}
    todoの一覧
      {% if todos %}

    <ul>
      {% for todo in todos %}
      <li>{{todo}}</li>
      {% endfor %}
    </ul>
      {% else %}
      todoはありません
      {% endif %}
    <a href="{% url "project:add_todo" object.pk object.project_id %}">ToDoを追加する</a>
    {% endif %}
    
    <a href="{% url "project:task_list" object.project_id %}">タスクの一覧を確認する</a>
  </div>
</div>
{% endblock %}