{% extends "base.html" %}

{% block contents %}

<div class="container">

  
  <h2 class="border-bottom">タスク : {{object.title}}</h2>
  
  <p></p>
  <p>{{object.content}}</p>
  <p>{{object.deadline_datetime}}</p>
  <p>{{object.added_at}}</p>
  
  <ul>
    {% for feedback in feedbacks %}
    <li>{{feedback.comment}} <span>{{feedback.user}}</span> </li>
    {% endfor %}
  </ul>
  <ul>
    {% for todo in todos %}
    <li>{{todo}}</li>
    {% endfor %}
  </ul>
  
  <a href="{% url "project:task_edit" object.pk %}">編集する</a><br>
  <a href="{% url "project:task_delete" object.pk %}">削除する</a>
  
  
  <p><a href="{% url "project:add_todo" object.pk object.project_id %}">ToDoを追加する</a></p>
  <p><a href="{% url "feedback:feedback_add" object.pk object.project_id %}">フィードバックを送る</a></p>
  
  
  <p><a href="{% url "project:task_list" object.project_id %}">タスクの一覧に戻る</a></p>
  <p><a href="{% url "project:project_detail" object.project_id %}">プロジェクトの詳細に戻る</a></p>
  
  
</div>
{% endblock %}