{% extends "base.html" %}

{% block contents %}


<div class="container text-center">

  <h3>ログイン</h3>

  
  <form method="post">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="Username" class="col-sm-2 col-form-label">
        ユーザーID</label>
      <!-- name属性の値はLoginViewで定義されているフィールド名username -->
      <div class="col-sm-10">
        <input type="text"
          name="username"
          id="id_username"
          maxlength="150"
          autocapitalize="none"
          autocomplete="username"
          class="form-control"
          placeholder="ユーザー名"
          required autofocus>
      </div>
    </div>

    <div class="row mb-3">
      <label for="Password" class="col-sm-2 col-form-label">
        パスワード</label>
        <!-- name属性の値はLoginViewで定義されているフィールド名password -->
      <div class="col-sm-10">

        <input type="password"
          name="password"
          id="id_password"
          autocomplete="current-password"
          class="form-control"
          placeholder="パスワード"
          required autofocus>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">ログイン</button>

    <input type="hidden"
      name="next"
      value="{% url 'project:index' %}">
  </form>
</div>



{% endblock contents %}

