{% extends "base.html" %}
{% load widget_tweaks %}

{% block contents %}

<div class="container">
  <div class="d-flex border-bottom mb-3">
    <h5 class="mb-1">
      ユーザー情報の変更
    </h5>
  </div>

  <form method="post">
    {% csrf_token %}

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label" for="{{form.username.id_for_label}}">ユーザーID</label>
      <div class="col-sm-9">

        {% render_field form.username class="form-control" %}
      </div>
      <div class="form-text offset-sm-3">ユーザーIDを変更される場合は、一緒にお仕事されている方にもご連絡をお願いします。</div>
      {% for error in form.username.errors %}
      <p style="color: red;">{{ error }}</p>
      {% endfor %}
    </div>


    <div class="row mb-3">
      <label class="col-sm-3 col-form-label" for="">お名前</label>
      <div class="col">
        <div class="">
          {% render_field form.last_name class="form-control" %}
        </div>
        {% if form.last_name.help_text %}
        <div class="form-text">{{ form.last_name.help_text }}</div>
        {% endif %}
        {% for error in form.last_name.errors %}
        <p style="color: red;">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="col">
        <div class="">
          {% render_field form.first_name class="form-control" %}
        </div>
        {% if form.first_name.help_text %}
        <div class="form-text">{{ form.first_name.help_text }}</div>
        {% endif %}
        {% for error in form.first_name.errors %}
        <p style="color: red;">{{ error }}</p>
        {% endfor %}
      </div>
    </div>



    <div class="row mb-3">
      <label class="col-sm-3 col-form-label" for="{{form.email.id_for_label}}">{{form.email.label}}</label>
      <div class="col-sm-9">

        {% render_field form.email class="form-control" required="required" %}
      </div>
      {% if form.email.help_text %}
      <div class="form-text">{{ form.email.help_text }}</div>
      {% endif %}
      <div class="form-text offset-sm-3"></div>
      {% for error in form.email.errors %}
      <p style="color: red;">{{ error }}</p>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">更新する</button>

  </form>




  <br>
  <p><a href="{% url "account:mypage" request.user.pk %}">
    編集をやめてマイページに戻る</a>
  </p>


</div>

{% endblock %}
