$primary:       #EF9DA9;
$secondary:     #EBBAC1;
$success:       #7daa6b;
$info:          #0dcaf0;
$warning:       #fa9a33;
$danger:        #f44336;
$light:         #f9b700;
$dark:          #212529;




@import "../node_modules/bootstrap/scss/bootstrap";
// body {
//     background-color: $light;
// }