/* * {
  margin: 0;
  padding: 0;
} */

/* :root {
  --main-bg-color: #0f0e17;
  --main-hl-color: #fffffe;
  --sub-headline: #2e2f3e;
  --main-paragraph: #a7a9be;
  --main-button: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;
  --stroke: black;
} */


.background {
  /* background-color: aliceblue; */
  background-color: #f7f3e6;
  opacity: 0.5;
  background: radial-gradient(circle, transparent 20%, #f7f3e6 20%, #f7f3e6 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f7f3e6 20%, #f7f3e6 80%, transparent 80%, transparent) 27.5px 27.5px, linear-gradient(#f7b445 2.2px, transparent 2.2px) 0 -1.1px, linear-gradient(90deg, #f7b445 2.2px, #f7f3e6 2.2px) -1.1px 0;
  background-size: 55px 55px, 55px 55px, 27.5px 27.5px, 27.5px 27.5px;
  /* position: absolute;
  width: 100vw;
  height: 1000%;
  z-index: -10; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  position: relative;
}
/* .container {
  opacity: 1;
} */

header {
  /* height: 56px;
  color: #2e2f3e; */
}

header > h1 {
  /* color: var(--main-hl-color); */
  /* background-color: coral; */
}


/* 
a {
  color: inherit;
}

h1, h2, h3, h4, li, p {
  color: var(--main-hl-color);
}

body {
  height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
} */





/* .container {
  background-color: #fffffe;
} */

footer {
  /* background-color: mediumorchid; */
  /* text-align: center;
  margin-top: auto; */

}

ul{
  /* padding-left: 36px; */
  /* background-color: aquamarine; */
}


header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */


}

header > ul {
  /* display: flex; */
}