* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #0f0e17;
  --main-hl-color: #fffffe;
  --sub-headline: #2e2f3e;
  --main-paragraph: #a7a9be;
  --main-button: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;
  --stroke: black;
}

a {
  color: inherit;
}

h1, h2, h3, h4, li, p {
  color: var(--main-hl-color);
}

body {
  height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

header > h1 {
  color: var(--main-hl-color);
  /* background-color: coral; */
}

main {
  /* background-color: aliceblue; */
}

footer {
  /* background-color: mediumorchid; */
  text-align: center;
  margin-top: auto;

}

ul{
  padding-left: 36px;
  /* background-color: aquamarine; */
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

header > ul {
  display: flex;
}